<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

  <Properties>

      <Property name="PatternLayout">[%d{yyyy-MMM-dd HH:mm:ss,SSS}]%-5p(%C{3}:%L) - %m%n</Property>

  </Properties>

  <Appenders>

    <Console name="console-log" target="SYSTEM_OUT">
      <PatternLayout pattern="${PatternLayout}"/>
    </Console>
 
  </Appenders>

  <Loggers>

    <!-- Log at info level for spring -->
    <Logger name="org.springframework" level="info" additivity="false">
      <AppenderRef ref="console-log" />
    </Logger> 
   
    <!-- Log app stuff -->
    <Logger name="com.pas" level="debug" additivity="false">
      <AppenderRef ref="console-log"/>
    </Logger>
     
    <Root level="info"> 
      <AppenderRef ref="console-log"/>
    </Root>

  </Loggers>

</Configuration>
 